/.gradle/
/build/
/bin/
/run/
.gradle/
.gradle/4.2/
.gradle/buildOutputCleanup/
.project
.gradle/4.2/fileHashes/fileHashes.bin
.gradle/4.2/fileHashes/fileHashes.lock
.gradle/4.2/taskHistory/fileSnapshots.bin
.gradle/4.2/taskHistory/taskHistory.bin
.gradle/4.2/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.settings/org.eclipse.buildship.core.prefs
logs/debug.log
*.log
